<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{pth}}/StylesIndex2.css">
    <title>Login</title>
</head>
<body>
    <div class="collegeName">
        <p class="moto">You Choose, We Do It</p>
        <h1>St.JOSEPH'S COLLEGE OF ENGINEERING</h1>
        <p class="Autonomous">(An Autonomous Institution)</p>
    </div>

    <div class="login-container">
        <form class="login-form" action="/loginhod" method="post">
            <h2>Login</h2>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="{{pth}}/script.js"></script>
</body>
</html>


