<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{pth}}/StylesIndex1.css">
    <title>Index</title>
</head>
<body>
    <div class="collegeName">
        <p class="moto">You Choose, We Do It</p>
        <h1>St.JOSEPH'S COLLEGE OF ENGINEERING</h1>
        <p class="Autonomous">(An Autonomous Institution)</p>
        <h1 class="Leave">Student Leave Portal</h1>
        <button type="button" onclick="navigateToPrincipal()">Principal</button>
        <button type="button" onclick="navigateToCounsellor()">Counsellor</button>
        <button type="button" onclick="navigateToHOD()">HOD</button>
        <button type="button" onclick="navigateToStudent()">Student</button>
        <button type="button" onclick="navigateToYearIncharge()">Year Incharge</button>
    </div>
    <script src="{{pth}}/script.js"></script>
</body>
</html>

